@font-face {
    font-family: 'Proxima Nova Rg';
    src: url("./ProximaNova-Reg.otf");
}
@font-face {
    font-family: 'Open Sans';
    src: url("./2211.ttf");
}
body {
    background-color: #120f0f;
    color: #989898;
    font-family: "Proxima Nova Rg";
    font-size: 12px;
    letter-spacing: 0.3px;
}
* {
    padding: 0;
    margin: 0;
    font-weight: lighter;
}
a {
    color: #989898;
    text-decoration: none;
    white-space: nowrap;
}
.animationLoader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(IT_back_grad_01.png);
    background-position: calc(50% - 100px) calc(50% + 50px);
    background-repeat: no-repeat;
    z-index: 1;
}

.animation_hiding .animationLoader {
    transition: 2s;
    opacity: 0;
}
.animation .animationLoader {
    display: none;
}

.start_back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(IT_back_grad_01.png);
    background-position: calc(50% - 100px) calc(50% + 50px);
    background-repeat: no-repeat;
    z-index: -1;
}
.main_border {
    position: absolute;
    top: calc(50% - 380px);
    right: calc(50% - 540px);
    left: calc(50% - 540px);
    display: flex;
}
@media (max-height: 780px) {
    .main_border {
        top: 10px;
    }
}
@media (max-width: 1280px) {
    .main_border {
        right: 5%;
        left: 5%;
    }
}
.left_menu {
    width: 330px;
    min-width: 230px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.left_menu img {
    height: 75px;
    margin: 0 auto 40px auto;
    opacity: 60%;
}
.right_menu {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}
.right_button_menu {
    display: flex;
    justify-content: end;
    margin-bottom: 40px;
}
.right_button {
    width: 160px;
    height: 45px;
    text-transform: uppercase;
    font-size: 6px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.right_button:hover {
    color: white;
    letter-spacing: 2px;
    transition: 0.3s;
}
.right_button::after {
    width: 50%;
    margin: 0 auto;
    height: 2px;
    content: "";
    background-color: #e72a34;
    opacity: 0;
}
.right_button:hover::after {
    opacity: 1;
    margin-top: 5px;
    transition: 0.3s;
}
.right_button h1 {
    width: 100%;
    text-align: center;
}
.info {
    margin-top: 50px;
}
.name {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.name::before {
    content: "";
    height: 40px;
    width: 2px;
    background-color: #e72a34;
    margin-right: 20px;
}
.name h1 {
    font-size: 18px;
    color: white;
    opacity: 0.8;
}
.info_pack {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
}
.info_pack h2 {
    font-size: 16px;
    margin-bottom: 10px;
    color: white;
    opacity: 0.8;
}
.info_pack p {
    font-family: "Open Sans";
    margin-bottom: 1px;
}
.metro {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.metro img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.bottom_menu {
    display: flex;
    justify-content: start;
}
.mail_phone {
    height: 45px;
    width: fit-content;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-right: 50px;
}
.mail_phone img {
    width: 20px;
    height: 20px;
    opacity: 0.5;
    margin-right: 10px;
}
#contacts {
    color: white;
}
@media (max-width: 825px) {
    .left_menu {
        display: none;
    }
    .right_menu {
        margin: auto;
    }
    .right_button_menu {
        flex-direction: column;
        align-items: center;
    }
    .right_button {
        margin-bottom: 30px;
    }
}